{% extends "layout.html" %}
<script language="javascript" type="text/javascript">
    function roundNumber(rnum, rnum2, rlength) {
      var newnumber = Math.round(rnum1*Math.pow(10,rlength))/Math.pow(10,rlength);
      document.roundform.numberfield.value = parseFloat(newnumber); // Output the result to the form field (change for your purposes)
    }
</script>
{% block content %}
{% include "customer_navbar.html" %} 

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sequence</th>
                <th>Product Name</th>
                <th>Unit Price ($)</th>
                <th>Quantity</th>
                <th>Subtotal ($)</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <form action="{{url_for('updateCart', id = customer.customer_id, code = key)}}" method = "POST">
                        <td><input type="number" name = "quantity" min="1" value = "{{ product.quantity }}"></td>
                        {% set subtotal = product.quantity|int * product.price|float %}
                        <td>{{ subtotal }}</td>
                        <td><button class = "btn btn-sm btn-outline-info">Update</button></td>
                    </form>
                    <td><a href="{{url_for('deleteitem', cus = customer.customer_id, id = key)}}" class= "btn btn-sm btn-outline-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><a href="{{ url_for('customer', id = customer.customer_id)}}">Continue shopping</a></td>
                    <td colspan = "2"style="text-align:right">Grand Total: </td>
                    <td colspan = "1">${{grandtotal}}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="{{current_user.id}}">Checkout</button>
                    </td>
                    <td><a href="{{ url_for('clearCart', id = customer.customer_id)}}" class = "btn btn-danger">Clear Cart</a></td>
                </tr>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Place Your Order!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% from "_formhelpers.html" import render_field %}  
                    <form action="{{ url_for('addorder', id = customer.customer_id)}}" method = "POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="customer-id" class="col-form-label-bold">Customer ID</label>
                                <input type="text" class="form-control" id="customer-id" value = "{{customer.customer_id}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="customer-name" class="col-form-label">Customer Name</label>
                                <input type="text" class="form-control" id="customer-name" value = "{{customer.first_name}} {{customer.last_name}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="payment-card-number" class="col-form-label">Select the Card for Payment</label>
                                    {{ render_field(form.payment_card_number, class="form-control") }}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Checkout</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </tbody>
        </div>
    </div>
</div> 
{% endblock content %}