{% extends "layout.html" %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center bg-info p-2">Add a new Card</h2>
        {% from "_formhelpers.html" import render_field %}  
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="customer-id" class="col-form-label">Customer ID</label>
                <input type="text" class="form-control" id="customer-id" value = "{{customer.customer_id}}" disabled>
            </div>
            <div class="form-group">
                <label for="customer-name" class="col-form-label">Customer Name</label>
                <input type="text" class="form-control" id="customer-name" value = "{{customer.first_name}} {{customer.last_name}}" disabled>
            </div>
            {{ render_field(form.card_number, class = "form-control", placeholder="Add Card Number") }}
            {{ render_field(form.card_owner_name, class = "form-control", placeholder="Add Owner Name") }}
            {{ render_field(form.card_expire_date, class = "form-control", placeholder="Add Expire Date") }}
            {{ render_field(form.card_cvv, class = "form-control", placeholder="Add CVV") }}
            {{ render_field(form.CBA_line_one, class = "form-control", placeholder="Add Address (line 1)") }}
            {{ render_field(form.CBA_line_two, class = "form-control", placeholder="Add Address (line 2)") }}
            {{ render_field(form.CBA_city, class = "form-control", placeholder="Add City") }}
            {{ render_field(form.CBA_state, class = "form-control", placeholder="Add State") }}
            {{ render_field(form.CBA_zipcode, class = "form-control", placeholder="Add Zipcode") }}
            
        <button type="submit" class="btn btn-outline-info mt-4"> Add Card </button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}