{% extends 'layout.html' %}
{% block content %}

{% include "customer_navbar.html" %}

<div class="container">
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Sequence</th>
            <th>Product Name</th>
            <th>Unit Price ($)</th>
            <th>Image</th>
            <th>Details</th>
            <th>Add to Cart</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.price}}</td>
                <td><img src = "{{ url_for('static', filename = 'images/'+ product.image) }}" width = "50" height = "40"></td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg-{{product.product_id}}">Details</button>
                </td>
                <td>
                  <form action="{{ url_for('addcart')}}" method = "POST">
                    <input type = "hidden" name="product_id" value="{{product.product_id}}"></input>
                    <label for="">Quantity: </label>
                    <input type = "number" name ="quantity" value = "1" min = "1"></input>
                    <button type = "submit" class = "btn btn-warning btn-sm">Add to Cart</button>
                  </form>
                </td>
            </tr>

            <!-- Large modal -->

            <div class="modal fade bd-example-modal-lg-{{product.product_id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Details</h5> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container mt-6">
                      <div class="row">
                          <div class="col-md-5" id = "product_image">
                              <img src = "{{ url_for('static', filename = 'images/'+ product.image) }}" alt = {{product.name}} width = "80" height = "80">
                          </div>
                          <div class="col-md-5">
                              <h4> {{ product.name}} </h4>
                              <hr>
                              <p> Unit Price: ${{ product.price }} </p>
                              <p> Size: {{ product.size }} </p>
                              <b> Additional Information </b>
                              <p> {{ product.add_info }} </p>
                          </div>
                      </div>
                  </div> 
                  </div>
                  <div class="modal-footer">
                    <form action="{{ url_for('addcart')}}" method = "POST">
                      <input type = "hidden" name="product_id" value="{{ product.product_id }}"></input>
                      <label for="">Quantity: </label>
                      <input type = "number" name ="quantity" value = "1" min = "1"></input>
                      <button type = "submit" class = "btn btn-warning">Add to Cart</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div> 
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}