{% extends 'layout.html' %}
{% block content %}

{% include 'admin_navbar.html' %}

<div class="container">
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Warehouse Name</th>
            <th>Quantity</th>
            <th>Update</th>
        </thead>
        <tbody>
          {% for product in products %} 
            <tr>
                <td>{{product.product_id}}</td>
                <td>{{product.product_name}}</td>
                <form action="" method = "POST">
                  <td>
                    <input type = "hidden" id="staff_id" name="staff_id" value="2000001"></input>
                    <input type = "hidden" id="product_id" name="product_id" value="{{ product.product_id }}"></input>
                    <select name="warehouse_id" id="warehouse_id">
                      {% for warehouse in warehouses %}
                        <option value="{{warehouse.warehouse_id}}">{{warehouse.name}} ({{warehouse.a_state}})</option>
                      {% endfor %}
                    </select>
                  </td>
                  <td>
                    <input type = "number" name ="quantity" value = "1" min = "1"></input>
                  </td>
                  <td>
                    <button type = "submit" class = "btn btn-warning btn-sm">Add to Warehouse</button>
                  </td>
                </form>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}