{% extends 'layout.html' %}
{% block content %}

{% include 'admin_navbar.html' %}

<div class="container">
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Sequence</th>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{ url_for('updatecat', id=category.id)}}" class = "btn btn-sm btn-outline-info"> Edit </a></td>
                <td><a href="" class = "btn btn-sm btn-outline-danger"> Delete </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}