{% extends 'layout.html' %}
{% block content %}

{% include 'admin_navbar.html' %}

<div class="container">
    <div class="col-md-12">
      <form action="{{ url_for('customer_list', id = staff.staff_id) }}" class="form-inline my-4 my-lg-2" method="POST">
        <input class="form-control mr-sm-3" id="keyword" name="keyword" type="text" placeholder="Customer Name">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button> 
      </form>
    </div>
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>Order History</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.customer_id}}</td>
                <td>{{customer.first_name}} {{customer.last_name}}</td>
                <td><a href="{{url_for('order_history', id = customer.customer_id)}}" class = "btn btn-sm btn-info"> Details </a></td>
                <td><a href="{{url_for('profile', id = customer.customer_id)}}" class = "btn btn-sm btn-outline-info"> Edit </a></td>
                <td>
                  <button type = "button" class = "btn btn-danger btn-sm" data-toggle = "modal" data-target="#exampleModal-{{customer.customer_id}}"> Delete </button>
                </td>
            </tr>
            <!--Modal-->
            <div class="modal fade" id="exampleModal-{{customer.customer_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{customer.first_name}} {{customer.last_name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text"> Are you sure that you want to delete the customer ({{customer.first_name}} {{customer.last_name}})? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletecustomer', id = staff.staff_id, customer_id=customer.customer_id)}}" method = "POST">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}