{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h1 class="text-center text-white bg-primary p-2">Registration</h1>
        {% include '_messages.html' %}
        <form method="post" enctype="multipart/form-data">
        <dl>
            {{ render_field(form.first_name, class="form-control") }}
            {{ render_field(form.last_name, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.phone, class="form-control") }}
            {{ render_field(form.address_line_one, class="form-control") }}
            {{ render_field(form.address_line_two, class="form-control") }}
            {{ render_field(form.address_city, class="form-control") }}
            {{ render_field(form.address_state, class="form-control") }}
            {{ render_field(form.address_zipcode, class="form-control") }}
            {{ render_field(form.confirm, class="form-control") }}
        </dl>
        <p><input type=submit value=Register class="btn btn-primary">
        </form>
        <div class="col-md-4"></div>
</div>

{% endblock content %}