{% extends 'layout.html' %}
{% block content %}

{% include 'admin_navbar.html' %}

<div class="container">
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Warehouse ID</th>
            <th>Warehouse Name</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
            <tr>
                <td>{{warehouse.warehouse_id}}</td>
                <td>{{warehouse.name}}</td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModalLong-{{warehouse.warehouse_id}}">Details</button>
                </td>
                <td><a href="{{ url_for('updatewarehouse', warehouse_id=warehouse.warehouse_id)}}" class = "btn btn-sm btn-outline-info"> Edit </a></td>
                <td>
                  <button type = "button" class = "btn btn-danger btn-sm" data-toggle = "modal" data-target="#exampleModal-{{warehouse.warehouse_id}}"> Delete </button>
                </td>
            </tr>
            <!-- Long modal -->

            <div class="modal fade" id = "exampleModalLong-{{warehouse.warehouse_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLong-{{warehouse.warehouse_id}}">Warehouse Details</h5> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container mt-6">
                      <div class="row">
                          <div class="col-md-8">
                              <h4> #{{ warehouse.warehouse_id}}   {{ warehouse.name}} </h4>
                              <hr>
                              <b> Address </b>
                              <p> {{ warehouse.a_line_one }} </p>
                              <p> {{ warehouse.a_line_two }} </p>
                              <p> {{ warehouse.a_city }}, {{ warehouse.a_state }} {{ warehouse.a_zipcode }} </p>
                              <hr>
                              <p> Capacity: {{ warehouse.capacity }} </p>
                              <p> Capacity Used: {{ warehouse.capacity_used }} </p>
                              <b> Capacity Remained: {{ warehouse.capacity_remained }} </b>
                          </div>
                      </div>
                  </div> 
                  </div>
                  <div class="modal-footer">
                    <form action="{{ url_for('updatewarehouse',warehouse_id=warehouse.warehouse_id)}}" method = "POST">
                      <input type = "hidden" name="warehouse" value="{{ warehouse.warehouse_id }}"></input>
                      <button type = "submit" class = "btn btn-outline-info">Update Warehouse</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div> 
                </div>
              </div>
            </div>
            <!--Modal-->
            <div class="modal fade" id="exampleModal-{{warehouse.warehouse_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{warehouse.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text"> Are you sure that you want to delete the warehouse ({{warehouse.name}})? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletewarehouse',warehouse_id=warehouse.warehouse_id)}}" method = "POST">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}