{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

{% include 'admin_navbar.html' %}

<div class="container">
    <table class="table table-sm table-condensed  table-striped">
        <thead>
            <th>Warehouse ID</th>
            <th>Warehouse Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for warehouse in warehouses %}
            <tr>
                <td>{{warehouse.warehouse_id}}</td>
                <td>{{warehouse.name}}</td>
                <td><a href="{{ url_for('updatewarehouse', warehouse_id=warehouse.warehouse_id)}}" class = "btn btn-sm btn-outline-info"> Edit </a></td>
                <td>
                  <button type = "button" class = "btn btn-danger btn-sm" data-toggle = "modal" data-target="#exampleModal-{{warehouse.warehouse_id}}"> Delete </button>
                </td>
            </tr>
            <!--Modal-->
            <div class="modal fade" id="exampleModal-{{warehouse.warehouse_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{warehouse.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text"> Are you sure that you want to delete the warehouse ({{warehouse.name}})? </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletewarehouse',warehouse_id=warehouse.warehouse_id)}}" method = "POST">
                      <button type="button" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}