{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('customer', id = customer.customer_id)}}">Customer Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('customer', id = customer.customer_id)}}">All Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-target="#dropdown-target" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category 
              </a>
              <div id="dropdown-target" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('foodpage', id = customer.customer_id)}}" >Food</a>
                <a class="dropdown-item" href="{{url_for('alcoholpage', id = customer.customer_id)}}" >Alcoholic Beverage</a>
                <a class="dropdown-item" href="{{url_for('nonalcoholpage', id = customer.customer_id)}}">Non-alcoholic Beverage</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-target="#dropdown-target-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div id="dropdown-target-1" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('profile', id = customer.customer_id)}}">Your Profile</a>
                <a class="dropdown-item" href="{{url_for('order_history', id = customer.customer_id)}}">Your Orders</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('getCart', id = customer.customer_id)}}" tabindex ="-1">Cart ({{session['Shoppingcart']|length}})</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout')}}" class = "nav-link">Logout</a>
            </li>
          </ul>
          <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-sucess my-2 my-sm-0" type="submit">Search</button> 
          </form>
        </div>
      </nav>
</div>

{% endblock content %}
