{% extends 'layout.html' %}
{% block content %}
<div class="container"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center h1 text-black p-2">Welcome to G3 Online Grocery Store!</div>
            <div class="text-center h3 text-black p-2">Please choose your role to login</div>
            <button class="btn btn-info btn-block" onclick = "location.href='{{ url_for("staff_login") }}';"> Staff </button>
            <button class="btn btn-success btn-block" onclick = "location.href='{{ url_for("customer_login") }}';"> Customer </button>
            <hr>
            <p><a href= "{{ url_for('register') }}">Register as New Customer</a></p>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% endblock content %}
