{% extends "layout.html" %}

{% block content %}
{% include "customer_navbar.html" %} 

<div class="container mt-4">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>Sequence</th>
                <th>Product Name</th>
                <th>Unit Price ($)</th>
                <th>Quantity</th>
                <th>Subtotal ($)</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <form action="{{url_for('updateCart', code = key)}}" method = "POST">
                        <td><input type="number" name = "quantity" min="1" value = "{{ product.quantity }}"></td>
                        {% set subtotal = product.quantity|int * product.price|int %}
                        <td>{{ subtotal }}</td>
                        <td><button class = "btn btn-sm btn-outline-info">Update</button></td>
                    </form>
                    <td><a href="{{url_for('deleteitem', id = key)}}" class= "btn btn-sm btn-outline-danger">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><a href="{{ url_for('customer')}}">Continue shopping</a></td>
                    <td colspan = "2"style="text-align:right">Grand Total: </td>
                    <td colspan = "1">${{grandtotal}}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="{{current_user.id}}">Checkout</button>
                    </td>
                    <td><a href="{{ url_for('clearCart')}}" class = "btn btn-danger">Clear Cart</a></td>
                </tr>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Place Your Order!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <form action="{{ url_for('addorder')}}" method = "POST">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="customer-id" class="col-form-label">Customer ID</label>
                                <input type="text" class="form-control" id="customer-id" value = "{{current_user.id}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="customer-name" class="col-form-label">Customer Name</label>
                                <input type="text" class="form-control" id="customer-name" value = "{{current_user.first_name}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="payment-card" class="col-form-label">Credit Card Number</label>
                                <input class="form-control" id="payment-card" type = "text" minlength="16" maxlength="16">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Checkout</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </tbody>
        </div>
    </div>
</div> 
{% endblock content %}