{% extends "layout.html" %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center bg-info p-2">Add a stock</h2>
        {% from "_formhelpers.html" import render_field %}  
        <form action="" method="POST" enctype="multipart/form-data">
            {{ render_field(form.item_quantity, class = "form-control", placeholder="Add Itam Quantity") }}
            {{ render_field(form.size_total, class = "form-control", placeholder="Add Total Size") }}

            <label for="category"> Add a Product</label>
            <select name="product" id = "product" class="form-control" required>
                <option value="">Select a category</option>
                {% for product in products %}
                <option value="{{product.product_id}}"> {{product.product_id, product.product_name}}</option>
                {% endfor %}
            </select>
            
        <button type="submit" class="btn btn-outline-info mt-4"> Add Stock</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}